<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Sicki</a>
      <ul class="nav">
        <li class="{{activeRouteClass 'home' 'newEntries'}}">
          <a href="{{homePath}}">New</a>
        </li>
        <li class="{{activeRouteClass  'bestEntries'}}">
          <a href="{{bestEntriesPath}}">Best</a>
        </li>
        {{#if currentUser}}
          <li class="{{activeRouteClass 'entrySubmit'}}">
            <a href="/submit">Submit Entry</a>
          </li>
        {{/if}}
        <li class="dropdown">
          {{> notifications}}
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>{{loginButtons}}</li>
      </ul>
    </div>
  </header>
</template>